<div class="f-container p1rem">
  <div class="w100 f-container-center">
    <h4 class="color-display display-icon-text" style="display: inline-flex;">
      <md-icon>home</md-icon>
      Salones
    </h4>
    <button md-button routerLink="../" color="accent"style="color: rgba(0, 0, 0, 0.54)" [disabled]="loader"><md-icon>arrow_back</md-icon> Regresar</button>
    <button md-raised-button color="primary" style="margin-left: auto;" (click)="openAddSalon()"><md-icon>add</md-icon>Agregar Salón</button>
  </div>
  <md-card class="w100" style="padding: 0.5rem 1rem 0; margin-top: 0.5rem;">
    <md-progress-bar mode="indeterminate" *ngIf="loader"></md-progress-bar>
    <table class="md-table w100">
      <thead>
        <tr>
          <th>Nombre(s)</th>
          <th>Fecha de registro</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let salon of allSalones; let i = index" [attr.data-index]="i">
          <td>{{salon.name}}</td>
          <td>{{salon.createdAt | date}}</td>
          <td>
            <button [disabled]="loader" style="color: rgba(0, 0, 0, 0.54)" mdTooltip="Editar salón" md-button (click)="openEditSalon(salon.id)"><md-icon>border_color</md-icon></button>
            <button [disabled]="loader" style="color: rgba(0, 0, 0, 0.54)" mdTooltip="Borrar salón" md-button (click)="openDeleteSalon(salon.id, i)"><md-icon>delete</md-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card>
</div>