<div class="f-container p1rem">
  <div class="w100 f-container-center">
    <h4 class="color-display display-icon-text" style="display: inline-flex;">
      <md-icon>assignment</md-icon>
      Tareas
    </h4>
    <button md-button routerLink="../" color="accent"style="color: rgba(0, 0, 0, 0.54)" [disabled]="loader"><md-icon>arrow_back</md-icon> Regresar</button>
  </div>
  <md-card class="w100" style="padding: 0.5rem 1rem 0; margin-top: 0.5rem;">
    <md-progress-bar mode="indeterminate" *ngIf="loader"></md-progress-bar>
    <table class="md-table w100">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Descripción</th>
          <th>Materia</th>
          <th>Grupo</th>
          <th>Fecha de entrega</th>
          <th>Fecha agregada</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of allTareas; let i = index" [attr.data-index]="i">
          <td>{{tarea.title}}</td>
          <td>{{tarea.desc}}</td>
          <td>{{tarea.materia.name}}</td>
          <td>{{tarea.grupo.nombre}}</td>
          <td>{{tarea.entrega}}</td>
          <td>{{tarea.createdAt | date:'medium'}}</td>
          <td>
            <button [disabled]="loader" style="color: rgba(0, 0, 0, 0.54)" mdTooltip="Editar tarea" md-button (click)="openEditTarea(tarea.id)"><md-icon>border_color</md-icon></button>
            <button [disabled]="loader" style="color: rgba(0, 0, 0, 0.54)" mdTooltip="Borrar tarea" md-button (click)="openDeleteTarea(tarea.id, i)"><md-icon>delete</md-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card>
</div>