.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.left-nav {
    width: 25%;
    padding: 0;
}

.left-header {
    background-color: #414141;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    color: white;
}

.left-header-info {
    margin-left: 1rem;
}

.main-content {
    box-sizing: border-box;
    margin-left: 1rem;
    width: 75%;
}

.card-container {
    color: rgba(0, 0, 0, 0.57);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card-pretitle {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
}

.admin-card {
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}