<div class="f-container p1rem">
  <div class="w100 f-container-center">
    <h4 class="color-display display-icon-text" style="display: inline-flex;">
      <md-icon class="m1rem-right">group</md-icon>
      Editar Grupo
    </h4>
    <button md-button routerLink="../../" color="accent"><md-icon>arrow_back</md-icon> Regresar</button>
  </div>
  <md-card class="w50" style="padding: 0.5rem; margin-top: 0.5rem;">
    <md-progress-bar mode="indeterminate" *ngIf="loader"></md-progress-bar>
    <div class="row p1rem">
      <div class="col-xs-12">
        <md-input-container class="w100">
          <input mdInput placeholder="Nombre" [(ngModel)]="grupo.nombre">
          <md-icon mdSuffix>group</md-icon>
        </md-input-container>
      </div>
      <div class="col-xs-12" style="margin: 0.5rem 0 1rem">
        <md-select class="w100" placeholder="Semestre" [(ngModel)]="grupo.semestre">
          <md-option *ngFor="let sem of [1, 2, 3, 4, 5, 6]" [value]="sem">{{sem}}</md-option>
        </md-select>
      </div>
      <div class="col-xs-12">
        <button class="w100" md-raised-button color="primary" (click)="editGrupo(grupo)" [disabled]="loader">Editar Grupo</button>
      </div>
    </div>
  </md-card>
</div>