* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

body {
    background-color: #eee;
}

.color-display {
    color: rgba(0, 0, 0, 0.54);
}

.color-87 {
    color: rgba(0, 0, 0, 0.87);
}

.display-icon-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.w100 {
    width: 100%;
}

.p1rem {
    padding: 1rem;
}

.m1rem-right {
    margin-right: 1rem;
}

.m1rem-bottom {
    margin-bottom: 1rem;
}

.m1rem-top {
    margin-top: 1rem;
}

.ml-auto {
    margin-left: auto;
}

/* Flexbox */
.f-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

@keyframes spin-infinito {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.root-loader {
    background-color: #5A0000;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white; 
}

.root-loader * {
    margin-bottom: 1rem;
}

.loading-image {
    animation: spin-infinito infinite ease-in 0 normal;
}